<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div [hidden]="home">
        <div *ngFor="let item of areglo" style="width: 100px; height: 100px; background-color:blue">

        </div>
    </div>
    <div [hidden]="mesa">sillas</div>
    <div [hidden]="sill">mesas</div>
    <div [hidden]="ador">adornos</div>
    <div [hidden]="infla">Inflables</div>
</body>
</html>
