<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="contenedor">
        <div class="hijo">
            <div class="row ">
                <div class="col">

                </div>
                <div class="col ">
                    <br>
                    <br>
                    <div class="container_1">
                        <img src="./assets/img/picture-2008484_960_720.png" alt="" height="500px">
                    </div><br>
                    <div class="container_1"><button class="btn"
                            style="margin-left: 130px;margin-right: 50px;font-size: 30px;">-</button><input
                            type="number" class="form-control"><button class="btn"
                            style="margin-left: 50px; font-size: 30px; margin-right: 130px;">+</button></div>
                </div>
                <div class="col">
                        
                </div>
            </div>
        </div>
    </div>
</body>

</html>