.hola {
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  flood-color: rgb(203, 77, 77);
}

.hola1 {
  font-weight: 400;
  font-size: 20px;
}

.hola2 {
  text-align: right;
}

.jl {
  position: absolute;
  margin: left 200px;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

#map {
  position: absolute;
  width: 90px;
  margin-left: 3%;
  height: 180px;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.p2 {
  background-color: #DDDDDD;
  height: 150px;
  left: 50px;
  position: relative;
  top: -50px;
  width: 150px;
}